<form #f="ngForm" (ngSubmit)="submit(f)">

     <div ngModelGroup="contact" #contact="ngModelGroup">
         <div *ngIf="!contact.valid">...</div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input 
            required 
            minlength="3"
            maxlength="10"
            pattern="banana" 
            ngModel name="firstName" 
            #firstName="ngModel" 
            (change)="log(firstName)" 
            id="firstName" type="text" 
            class="form-control"/>
            <div 
                class="alert alert-danger" 
                *ngIf="firstName.touched && !firstName.valid">
                    <!-- <div *ngIf="firstName.errors.required">First Name is Required</div>
                    <div *ngIf="firstName.errors.minlength">First Name should be minimum 3 characters</div>
                    <div *ngIf="firstName.errors.pattern">First Name does not match the pattern </div> -->
                    <div *ngIf="firstName.errors.required">
                        First Name is Required
                    </div>
                    <div *ngIf="firstName.errors.minlength">
                        First Name should be minimum {{ firstName.errors.minlength.requiredLength}} characters
                    </div>
                    <div *ngIf="firstName.errors.pattern">
                        First Name does not match the pattern
                    </div>
            </div> 
           
            
        </div>

     </div>

     <div class="form-group">
        <label for="comment">Comment</label>
        <textarea 
        ngModel 
        name="comment"
        #comment="ngModel"
        (change)="log(comment)"
        id="comment" cols="30"
        rows="10"
        class="form-control"></textarea>
     </div>
     <div class="checkbox">
         <label>
            <input ngModel name="isSubscribed" type="checkbox">Subscribe to mailing list
         </label>
         

     </div>
     <div class="form-group">
         <label for="contactMethod">
             Contact Method
         </label>
         <select 
         multiple
         ngModel 
         name="contactMethod"
          id="contactMethod"
           class="form-control">
           <option value=""></option>
        <option [value]="method.id" *ngFor="let method of contactMethod">
{{ method.name }}
        </option>

        <!-- <option [ngValue]="method" *ngFor="let method of contactMethod">
            {{ method.name }}
                    </option> -->

        
        </select>

     </div>
     <div *ngFor="let method of contactMethod" class="radio">
         <label>    <input ngModel name="contactMethod" type="radio" name="contactMethod" [value]="method.id">{{ method.name}}</label>
     
     </div>
     <!-- <div class="radio">
        <label>    <input ngModel name="contactMethod" type="radio" name="contactMethod" value="2">Phone</label>
    
    </div> -->
     <p>{{ f.value | json}}</p>
     <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
