<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div></div>
  <div></div>
  
</div>
<courses></courses>
<course></course>
<favorite></favorite> -->

<!-- <div *ngIf="courses.length >0">List of courses</div>
<div *ngIf="courses.length ==0">No courses yet</div> -->

<!-- <div *ngIf="courses.length >0; else noCourses">List of courses</div>
<ng-template #noCourses>No courses yet</ng-template> -->

<!-- <div *ngIf="courses.length >0; then coursesList else noCourses"></div>
<ng-template #coursesList>List of courses</ng-template>
<ng-template #noCourses>No courses yet</ng-template> -->

<!-- <div [hidden]="courses.length==0">List of courses</div>
<div [hidden]="courses.length>0">No courses yet</div> -->
<!-- <ul class="nav nav-pills">
    <li [class.active]="viewMode =='map'"><a (click)="viewMode='map'">Map View</a></li>
    <li [class.active]="viewMode =='list'"><a (click)="viewMode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwithchDefault>Otherwise</div>
</div> -->
<!-- <button (click)="onAdd()">Add</button> -->
<!-- <button (click)="loadCourses()">Load Courses</button> -->
<ul>
  <!-- <li *ngFor="let course of courses; index as i ">
    {{ i }} - {{course.name}}
  </li> -->
  <!-- <li *ngFor="let course of courses; last as isEven ">
    {{course.name}} <span *ngIf="isEven">(Last)</span>
    <button (click)="onRemove(course)">Remove</button>
    <button (click)="onChange(course)">Update</button>
  </li> -->
</ul>
<!-- <ul>
    <li *ngFor="let course of newCourses; trackBy:trackCourse">
    {{course.name}}
  </li>
</ul> -->

<!-- <span *ngIf="task.assignee">{{task.assignee.name}}</span> -->
<!-- <span>{{task.assignee?.name}}</span> -->

<!-- <input type="text" [appInputFormat]="'uppercase'" [format]="'uppercase'"> -->
<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- <contact-form></contact-form> -->

<!-- <signup-form></signup-form> -->
<new-course-form></new-course-form>




