<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <form
        [formGroup]="userProfileForm"
        (ngSubmit)="onSubmit()"
        style="border: 1px solid green"
      >
        <div class="row">
          <div class="col-md-12">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input
                  type="text"
                  formControlName="firstName"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="First Name"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Last Name</label>
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Last Name"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row" formGroupName="address">
            
    <div class="col-md-12">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Address1</label>
                <input type="text" formControlName="address1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address 1">
              </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Address2</label>
                <input type="text" formControlName="address2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address 2">
              </div>
        </div>
       
        <div class="col-lg-3">
            <div class="form-group">
                <label for="exampleInputEmail1">State</label>
                <input type="text" formControlName="state" class="form-control" 
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="State">
              </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Zip</label>
                <input type="text" formControlName="zip" class="form-control" 
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="State">
              </div>
        </div>
    </div>
      
        </div> -->

        <div class="row" formArrayName="quantities">
          <div
            *ngFor="
              let quantity of userProfileForm.controls.quantities.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="col-md-12">
              <div class="col-lg-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">id</label>
                  <input
                    type="text"
                    value="{{ i + 1 }}"
                    readonly
                    class="form-control"
                    id="exampleInputEmail1"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="exampleInputEmail1">mobile</label>
                  <input
                    type="number"
                    formControlName="mobile"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="exampleInputEmail1">quantity</label>
                  <input
                    type="number"
                    formControlName="qty"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
              </div>

              <div class="col-lg-2">
                <div class="form-group">
                  <label for="exampleInputEmail1">price</label>
                  <input
                    type="number"
                    formControlName="price"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <br />
                <label></label>
                <button
                  type="button"
                  *ngIf="i != 0"
                  (click)="removeQuantity(i)"
                  class="btn btn-danger"
                >
                  X
                </button>
                <button
                  type="button"
                  class="btn btn-info"
                  (click)="AddQuantity()"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" formArrayName="interests">
          <div
            *ngFor="
              let interest of userProfileForm.controls.interests.controls;
              let j = index
            "
            [formGroupName]="j"
          >
            <div class="col-md-12">
              <div class="col-lg-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">id</label>
                  <input
                    type="text"
                    value="{{ j + 1 }}"
                    readonly
                    class="form-control"
                    id="exampleInputEmail1"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="exampleInputEmail1">Item Name</label>
                  <input
                    type="text"
                    formControlName="itemname"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="exampleInputEmail1">Zip</label>
                  <input
                    type="number"
                    formControlName="zip"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
              </div>

              <div class="col-lg-2">
                <div class="form-group">
                  <label for="exampleInputEmail1">State</label>
                  <input
                    type="text"
                    formControlName="state"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <br />
                <label></label>
                <button
                  type="button"
                  *ngIf="j != 0"
                  (click)="removeInterest(j)"
                  class="btn btn-danger"
                >
                  X
                </button>
                <button
                  type="button"
                  class="btn btn-info"
                  (click)="AddInterest()"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8"></div>
          <div class="col-lg-4">
            <div class="form-group pull-right m-4">
              <button type="submit" class="form-control btn btn-info">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
